@model List<YuNilarThinn.MiniPOS.Models.InvoiceModel>

<h2>Invoices</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Invoice ID</th>
            <th>Date</th>
            <th>Customer ID</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.SalesInvoiceId</td>
                <td>@invoice.SalesDate</td>
                <td>@invoice.CustomerId</td>
                <td>@invoice.TotalAmount</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Invoice" asp-action="Edit" asp-route-id="@invoice.SalesInvoiceId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

